@page "/countries/edit/{Id:int}"

<h4>@Localizer["Edit"] @Localizer["Country"]</h4>

@if (country is null)
{
    <Loading />
}
else
{
    <CountryForm @ref="countryForm" Country="country" OnValidSubmit="EditAsync" ReturnAction="Return" />
}